<div class="footer"></div>
<footer>
<div class="flex1"></div>
	<div class="flex2 center">
		<button class=" button">
			<a href="">Mention légal</a>
		</button>

		<button class=" button">
			<a href="">Lien utile</a>
		</button>

		<button class=" button">
			<a href="">Lien utile</a>
		</button>

		<button class=" button">
			<a href="">Lien utile</a>
		</button>
	</div>
	<div class="flex1"></div>
</footer>
