<header>


	
	<div class="center">
		<h1>Nom Appli</h1>
	</div>
	<div class="colonne">

        <div>
            <img class="logo" src="{{ asset('img/logo_afpa.png') }}" alt="Logo de l'Afpa Entreprise">
        </div>

        <div>

        </div>

        <button class=" button">
                <a href="{{ path('app_logout') }}"></a>
        </button>
    </div>
</header>
