{% extends 'base.html.twig' %}

{% block title %}Alternants index{% endblock %}

{% block body %}
    <h1>Alternants index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for alternant in alternants %}
            <tr>
                <td>{{ alternant.id }}</td>
                <td>
                    <a href="{{ path('app_alternants_show', {'id': alternant.id}) }}">show</a>
                    <a href="{{ path('app_alternants_edit', {'id': alternant.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_alternants_new') }}">Create new</a>
{% endblock %}
