{% extends 'base.html.twig' %}

{% block title %}TypesAbsence index{% endblock %}

{% block body %}
    <h1>TypesAbsence index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Libelle du type d'absence</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for types_absence in types_absences %}
            <tr>
                <td>{{ types_absence.libelleTypeAbsence }}</td>
                <td>
                    <a href="{{ path('app_types_absence_show', {'id': types_absence.id}) }}">show</a>
                    <a href="{{ path('app_types_absence_edit', {'id': types_absence.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_types_absence_new') }}">Create new</a>
{% endblock %}
