{% extends 'base.html.twig' %}

{% block title %}Edition Formateurs{% endblock %}

{% block body %}
    <h1>Editer un formateur</h1>

    {{ include('formateurs/_form.html.twig', {'button_label': 'Update'}) }}

    <a class"button" href="{{ path('app_formateurs_index') }}">Retour à la liste</a>

    {{ include('formateurs/_delete_form.html.twig') }}
{% endblock %}
