{% extends 'base.html.twig' %}

{% block title %}New Formateurs{% endblock %}

{% block body %}
    <h1>Nouveau Formateurs</h1>

    {{ include('formateurs/_form.html.twig') }}

    <a class="button" href="{{ path('app_formateurs_index') }}">Retour à la liste</a>
{% endblock %}
