{% extends 'base.html.twig' %}

{% block title %}New TypesEvenement{% endblock %}

{% block body %}
    <h1>Create new TypesEvenement</h1>

    {{ include('types_evenement/_form.html.twig') }}

    <a href="{{ path('app_types_evenement_index') }}">back to list</a>
{% endblock %}
