{% extends 'base.html.twig' %}

{% block title %}Edition Documents{% endblock %}

{% block body %}
    <h1>Editer un document</h1>

    {{ include('documents/_form.html.twig', {'button_label': 'Update'}) }}

    <a class"button" href="{{ path('app_documents_index') }}">Retour à la liste</a>

    {{ include('documents/_delete_form.html.twig') }}
{% endblock %}
