{% extends 'base.html.twig' %}

{% block title %}Documents index{% endblock %}

{% block body %}
    <h1>Documents index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Libelle du Document</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for document in documents %}
            <tr>
                <td>{{ document.libelleDocument }}</td>
                <td>
                    <a class="button" href="{{ path('app_documents_show', {'id': document.id}) }}">Voir</a>
                    <a class="button" href="{{ path('app_documents_edit', {'id': document.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="button" href="{{ path('app_documents_new') }}">Nouveau</a>
{% endblock %}
