{% extends 'base.html.twig' %}

{% block title %}New Documents{% endblock %}

{% block body %}
    <h1>Nouveau Documents</h1>

    {{ include('documents/_form.html.twig') }}

    <a class="button" href="{{ path('app_documents_index') }}">Retour à la liste</a>
{% endblock %}
