
<footer>
<div class="espaceMoyen"></div>
	<div class="flex2 center">
		<button class="flex4 button">
			<a href="">Mention légal</a>
		</button>
	<div class="espacePetit"></div>
		<button class="flex4 button">
			<a href="">Lien utile</a>
		</button>
	<div class="espacePetit"></div>
		<button class="flex4 button">
			<a href="">Lien utile</a>
		</button>
	<div class="espacePetit"></div>
		<button class="flex4 button">
			<a href="">Lien utile</a>
		</button>
	</div>
	<div class="espaceMoyen"></div>
</footer>
