<header>
	<div class="center">
		<h1>Nom Appli</h1>
	</div>
    <div class="espaceMoyen"></div>
	<div class="colonne header">
		<div class="flexMini">
			<img src="{{ asset('img/logo_afpa.png') }}" alt="Logo de l'Afpa Entreprise">
		</div>
        <div class="espaceMini"></div>
		<div>
			Connecté en tant que :
		</div>
        <div class="espaceMini"></div>
		<div>
			<button class="flexDemi button">
				<a href="{{ path('app_logout') }}">Deconnexion</a>
			</button>
		</div>
        <div class="espaceMini"></div>
	</div>
</header>
