/* ******** couleur ******* */
:root {
    --white: #ffffff;
    --gray: #c1e1eb;
    --gray1: #d9f9ff;
    --green: #01775a;
    --blue: #80aef1;
}

/* ******** général ******* */
* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blue);
}

body,
footer,
header {
    background-color: var(--gray);
}

div,
header,
nav,
footer {
    display: flex;
    flex: 1;
}

a {
    text-align: center;
}

a:link {
    text-decoration: none;
}

img {
    width: 100%;
}

.center {
    text-align: center;
    align-items: center;
}

.colonne {
    flex-direction: column;
}

.espaceGrand {
    height: 15vh;
}

.espaceMoyen {
    height: 5vh;
}

.espacePetit {
    height: 2vh;
}

.espaceMini {
    height: 0.5vh;
}

.flexMini {
    flex: 0.15;
}

.flexDemi {
    flex: 0.5;
}

.flex1 {
    flex: 1;
}

.flex1Demi {
    flex: 1.5;
}

.flex2 {
    flex: 2;
}

.flex3 {
    flex: 3;
}

.flex4 {
    flex: 4;
}

.flex5 {
    flex: 5;
}

.label {
    color: var(--blue);
}

.button {
    background-color: var(--blue);
    color: white;
    padding: 0.5em;
    border: 2px solid var(--white);
    border-radius: 20px;
    box-shadow: 5px 5px 0px 0px var(--blue);
    cursor: pointer;
    width: 75%;
    font-weight: bold;
}

/* ****** header ****** */
header {
    justify-content: space-around;
    width: 100%;
}

.header {
    display: block;
}

/* ****** footer ****** */
footer {
    text-align: center;
    height: 20vh;
    bottom: 0;
    width: 100%;
}


/* ****** contenue ****** */
#conteneur {
    background-color: var(--gray);
    min-height: 100vh;
    /** mettre padding à voir **/
}

/* ******** liste  ******* */
#liste {
    flex-direction: column;
    border: solid var(--blue) 1px;
}

.ligne {
    justify-content: center;
    max-height: 10vh;
    border: solid var(--blue) 1px;
}


.cellule {
    color: white;
    justify-content: center;
    align-items: center;
}

.entete {
    background-color: var(--green);
}

.contenueListe {
    background-color: var(--gray1);
}


/* ***** MEDIA QUERIES ***** */
@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {
    #conteneur {
        padding: 5% 2%;
    }

    .ligne {
        max-height: fit-content;
        width: 100%;
    }


}

@media only screen and (min-device-width : 414px) and (max-device-height : 896px) and (-webkit-device-pixel-ratio : 2) {
    #conteneur {
        padding: 5% 2%;
    }

    .ligne {
        max-height: fit-content;
        width: 100%;
    }

    .cellule {
        font-size: 0.75em;
    }

}