<h1>Hi! Please confirm your email!</h1>

<p>
    Veuillez confirmer l'inscription en cliquant sur le lien suivant: <br><br>
    <a href="{{ signedUrl }}">Confirmé  l'email</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Bonnee continuation !
</p>
