{% extends 'base.html.twig' %}

{% block title %}Edit ResponsablesLegaux{% endblock %}

{% block body %}
    <h1>Edit ResponsablesLegaux</h1>

    {{ include('responsables_legaux/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_responsables_legaux_index') }}">back to list</a>

    {{ include('responsables_legaux/_delete_form.html.twig') }}
{% endblock %}
