{% extends 'base.html.twig' %}

{% block title %}Edit TypesAbsence{% endblock %}

{% block body %}
    <h1>Edit TypesAbsence</h1>

    {{ include('types_absence/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_types_absence_index') }}">back to list</a>

    {{ include('types_absence/_delete_form.html.twig') }}
{% endblock %}
