<form method="post" action="{{ path('app_centres_delete', {'id': centre.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cet élément ??');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ centre.id) }}">
    <button class="button">Supprimer</button>
</form>
