{% extends 'base.html.twig' %}

{% block title %}Nouvelle Absence{% endblock %}

{% block body %}
    <h1>Créer une nouvelle Absences</h1>

    {{ include('absences/_form.html.twig') }}

    <a class"button" href="{{ path('app_absences_index') }}">Retour à la liste</a>
{% endblock %}
