{{ form_start(form) }}

<div class="espacePetit"></div>
    {{ form_widget(form) }}
    <div class="espaceMoyen"></div>
    <button class="button">{{ button_label|default('Sauvegarder') }}</button>
    <div class="espacePetit"></div>
{{ form_end(form) }}
