{% extends 'base.html.twig' %}

{% block title %}New Alternants{% endblock %}

{% block body %}
    <h1>Create new Alternants</h1>

    {{ include('alternants/_form.html.twig') }}

    <a href="{{ path('app_alternants_index') }}">back to list</a>
{% endblock %}
