{% extends 'base.html.twig' %}

{% block title %}Alternants{% endblock %}

{% block body %}
    <h1>Alternants</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Identifiant Alternant</th>
                <td>{{ alternant.id }}</td>
            </tr>
        </tbody>
    </table>

    <a class="button" href="{{ path('app_alternants_index') }}">Retour à la liste</a>

    <a class="button" href="{{ path('app_alternants_edit', {'id': alternant.id}) }}">Editer</a>

    {{ include('alternants/_delete_form.html.twig') }} 
{% endblock %}
