{% extends 'base.html.twig' %}

{% block title %}New Tuteurs{% endblock %}

{% block body %}
    <h1>Nouveau Tuteurs</h1>

    {{ include('tuteurs/_form.html.twig') }}

    <a class="button" href="{{ path('app_tuteurs_index') }}">Retour à la liste</a>
{% endblock %}
