{% extends 'base.html.twig' %}

{% block title %}LieuxEvenement index{% endblock %}

{% block body %}
    <h1>LieuxEvenement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Libelle du lieu</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lieux_evenement in lieux_evenements %}
            <tr>
                <td>{{ lieux_evenement.libelleLieuEvenement }}</td>
                <td>
                    <a class="button" href="{{ path('app_lieux_evenement_show', {'id': lieux_evenement.id}) }}">Voir</a>
                    <a class="button" href="{{ path('app_lieux_evenement_edit', {'id': lieux_evenement.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="button" href="{{ path('app_lieux_evenement_new') }}">Nouveau</a>
{% endblock %}
