{% extends 'base.html.twig' %}

{% block title %}New LieuxEvenement{% endblock %}

{% block body %}
    <h1>Nouveau LieuxEvenement</h1>

    {{ include('lieux_evenement/_form.html.twig') }}

    <a class="button" href="{{ path('app_lieux_evenement_index') }}">Retour à la liste</a>
{% endblock %}
