{% extends 'base.html.twig' %}

{% block title %}TypesEvenement index{% endblock %}

{% block body %}
    <h1>TypesEvenement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Libelle du type d'événement</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for types_evenement in types_evenements %}
            <tr>
                <td>{{ types_evenement.libelleTypeEvenement }}</td>
                <td>
                    <a class="button" href="{{ path('app_types_evenement_show', {'id': types_evenement.id}) }}">Voir</a>
                    <a class="button" href="{{ path('app_types_evenement_edit', {'id': types_evenement.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="button" href="{{ path('app_types_evenement_new') }}">Nouveau</a>
{% endblock %}
