{% extends 'base.html.twig' %}

{% block title %}New TypesEvenement{% endblock %}

{% block body %}
    <h1>Nouveau TypesEvenement</h1>

    {{ include('types_evenement/_form.html.twig') }}

    <a class="button" href="{{ path('app_types_evenement_index') }}">Retour à la liste</a>
{% endblock %}
