<form method="post" action="{{ path('app_responsables_legaux_delete', {'id': responsables_legaux.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cet élément ??');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ responsables_legaux.id) }}">
    <button class="button">Supprimer</button>
</form>
