<form method="post" action="{{ path('app_responsables_legaux_delete', {'id': responsables_legaux.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ responsables_legaux.id) }}">
    <button class="btn">Delete</button>
</form>
