{% extends 'base.html.twig' %}

{% block title %}Editer Responsables Legaux{% endblock %}

{% block body %}
    <h1>Editer un responsable légal </h1>

    {{ include('responsables_legaux/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="button" href="{{ path('app_responsables_legaux_index') }}">Retour à la liste</a>

    {{ include('responsables_legaux/_delete_form.html.twig') }}
{% endblock %}
