{% extends 'base.html.twig' %}

{% block title %}New ResponsablesLegaux{% endblock %}

{% block body %}
    <h1>Nouveau ResponsablesLegaux</h1>

    {{ include('responsables_legaux/_form.html.twig') }}

    <a class="button" href="{{ path('app_responsables_legaux_index') }}">Retour à la liste</a>
{% endblock %}
