{% extends 'base.html.twig' %}

{% block title %}ResponsablesLegaux{% endblock %}

{% block body %}
    <h1>ResponsablesLegaux</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ responsables_legaux.id }}</td>
            </tr>
        </tbody>
    </table>

    <a class="button" href="{{ path('app_responsables_legaux_index') }}">Retour à la liste</a>

    <a class="button" href="{{ path('app_responsables_legaux_Editer', {'id': responsables_legaux.id}) }}">Editer</a>

    {{ include('responsables_legaux/_delete_form.html.twig') }}
{% endblock %}
