{% extends 'base.html.twig' %}

{% block title %}New TypesAbsence{% endblock %}

{% block body %}
    <h1>Create new TypesAbsence</h1>

    {{ include('types_absence/_form.html.twig') }}

    <a href="{{ path('app_types_absence_index') }}">back to list</a>
{% endblock %}
