{% extends 'base.html.twig' %}

{% block title %}New ResponsablesLegaux{% endblock %}

{% block body %}
    <h1>Create new ResponsablesLegaux</h1>

    {{ include('responsables_legaux/_form.html.twig') }}

    <a href="{{ path('app_responsables_legaux_index') }}">back to list</a>
{% endblock %}
